<h1>Welcome to Nicki's Game Blog</h1>

<p>Hello and welcome! This is Nicki's Game Blog. On this page, I will present new and interesting games and videos. I love to share them with you, if you like them too, feel free to email me.</p>
